out
.idea/workspace.xml
feasibility-study.pdf

feasibility_example.bib.sav

feasibility_example.bib.bak

feasibility-study.lyx~

\#feasibility-study.lyx#

report/abbreviations.lyx~

report/abstract.lyx~

report/acknowledgements.lyx~

report/appendix1.lyx~

report/appendix2.lyx~

report/chapter1.lyx~

report/command.lyx~

report/chapter2.lyx~

report/report.lyx~
